@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$fuente_principal: 'Lato', sans-serif;

$telefono: 480px;
$tablet: 768px;
$laptop: 1024px;
$landscape: 1200px;

$negro: #000;
$amarillo: #e08709;
$verde: #71b100;
$blanco: #fff;
$gris: #e1e1e1;
$gris_oscuro: #333333;
$rojo: rgb(240, 48, 48);
$verde_exito: rgb(21, 190, 21);

$separacion: 4rem;

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900